{% extends 'base.html' %}
{% block conteudo %}
  <form action="/cadastrarUsuario" method="POST">
      <label> CPF: </label>
      <input type="text" name="cpf" /><br><br>

      <label> Nome: </label>
      <input type="text" name="Nome" /><br><br>

      <label> Telefone: </label>
      <input type="text" name="Telefone" /><br><br>

      <label> Endereço: </label>
      <input type="text" name="Endereço" /><br><br>

      <button>Cadastar</button>

  </form>
  <a href="/listar">Consultar Tudo</a><br><br>
  <a href="/consultarIndividual">Consultar Individual</a><br><br>
  <a href="/atualizar">Atualizar</a><br><br>
  <a href="/excluir">Excluir</a><br><br>
{% endblock %}